<html>
  <head>
    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Set chart options
      var options = {'title':'Porcentaje total de votos',
                     'width':400,
                     'height':300};

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
    	  
    	  var pollingStations = /*[[${pollingStations}]]*/ [];
    	  
    	  pollingStations.forEach(function (v){
        	  $.ajax({
    	          url: "stadistic_pollingstation_json/" + v,
    	          dataType: "json",
    	          success: function (json) {
    	              // Create the data table.
    	              var data = new google.visualization.DataTable(json);

    	              // Instantiate and draw our chart, passing in some options.
    	              var chart = new google.visualization.PieChart(document.getElementById('chart_div_' + v));
    	              chart.draw(data, options);
    	          }
              });
    	  });

    	  $.ajax({
	          url: "stadistic_json",
	          dataType: "json",
	          success: function (json) {
	              // Create the data table.
	              var data = new google.visualization.DataTable(json);

	              // Instantiate and draw our chart, passing in some options.
	              var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	              chart.draw(data, options);
	          }
          });
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    
    <div th:each="pollingStation: ${pollingStations}">
    	<h2></h2>
	    <div th:id="${'chart_div_' + pollingStation}"></div>
    </div>
    
  </body>
</html>